# 1) xor data

### 1. list

In [25]:
from sklearn import svm

In [3]:
xor_data = [
    #p,q, p xor q
    [0,0,0],
    [1,0,1],
    [0,1,1],
    [1,1,0]
]

In [33]:
data = []; label = []
for row in xor_data :
    data.append(row[:2])
    label.append(row[2])

In [34]:
data

[[0, 0], [1, 0], [0, 1], [1, 1]]

In [35]:
label

[0, 1, 1, 0]

In [36]:
#training data
clf = svm.SVC()
clf.fit(data,label)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [37]:
#predict data
predict = clf.predict(data)
predict

array([0, 1, 1, 0])

In [40]:
list(enumerate(label))

[(0, 0), (1, 1), (2, 1), (3, 0)]

In [41]:
#validataion
ok=0; total =0
for idx, answer in enumerate(label) :
    if predict[idx] == answer :
        ok+=1
        
    total+=1

In [43]:
print('정답률:',ok,'/',total,'=',ok/total)

정답률: 4 / 4 = 1.0

### 2. dataframe

In [4]:
import pandas as pd

In [45]:
xor_df = pd.DataFrame(xor_data)
xor_df

   0  1  2
0  0  0  0
1  1  0  1
2  0  1  1
3  1  1  0

In [48]:
xor_data = xor_df.iloc[:,0:2]
xor_data

   0  1
0  0  0
1  1  0
2  0  1
3  1  1

In [51]:
xor_label = xor_df.iloc[:,2:3]
xor_label

   2
0  0
1  1
2  1
3  0

In [52]:
clf.fit(xor_data,xor_label)
pre = clf.predict(xor_data)

C:\Users\wjssm\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
from sklearn import metrics

In [56]:
ac_score = metrics.accuracy_score(xor_label, pre)
print("정답률:",ac_score)

정답률: 1.0

# 2. iris data

In [26]:
import numpy as np
import random, re

In [33]:
from sklearn.model_selection import train_test_split

In [36]:
csv = pd.read_csv('./data/iris.csv')
csv.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [37]:
csv_data = csv[['SepalLength', 'SepalWidth','PetalLength','PetalWidth']]
csv_label = csv['Name']

In [38]:
train_data, test_data, train_label, test_label = train_test_split(csv_data, csv_label)

In [40]:
clf = svm.SVC()
clf.fit(train_data, train_label)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [41]:
pre = clf.predict(test_data)

In [42]:
ac_score = metrics.accuracy_score(test_label, pre)
print('accuracy = ', ac_score)

accuracy =  0.9736842105263158